In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression as LR
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score,cross_validate,train_test_split

In [3]:
data = pd.read_csv('adult_ori.csv',usecols=[0,4,8,9,12,13,14],names=['age','education_num','race','gender','hours_per_week','country','is50k+'],header=None)
data_ori=data.copy()

In [4]:
eff_row_index = data[data['country'].str.contains('United-States')].index
data = data.loc[eff_row_index,:]

In [5]:
eff_row_index = data[data['race'].str.contains('White|Black')].index
data = data.loc[eff_row_index,:]

In [6]:
data['race']=data['race'].replace('White', 1, regex=True)
data['race']=data['race'].replace('Black', 0, regex=True)
data['gender']=data['gender'].replace('Male', 1, regex=True)
data['gender']=data['gender'].replace('Female', 0, regex=True)
data['is50k+']=data['is50k+'].replace('<=50K', 0, regex=True)
data['is50k+']=data['is50k+'].replace('>50K', 1, regex=True)

In [7]:
data

,age,education_num,race,gender,hours_per_week,country,is50k+
0,39,13,1,1,40,United-States,0
1,50,13,1,1,13,United-States,0
2,38,9,1,1,40,United-States,0
3,53,7,0,1,40,United-States,0
5,37,14,1,0,40,United-States,0
...,...,...,...,...,...,...,...
32556,27,12,1,0,38,United-States,0
32557,40,9,1,1,40,United-States,1
32558,58,9,1,0,40,United-States,0
32559,22,9,1,1,20,United-States,0
32560,52,9,1,0,40,United-States,1

In [8]:
x = data[['age','education_num','race','gender','hours_per_week']]
y = data['is50k+']
clf = LR(C=0.5)
clf = clf.fit(x,y)
score_LR = cross_val_score(clf, x, y, cv=10)
score_LR

array([0.79936753, 0.79163739, 0.80182713, 0.79367311, 0.79824253,
       0.79964851, 0.79718805, 0.80702988, 0.80421793, 0.7940246 ])

In [10]:
clf_svm = SVC(kernel='rbf')
clf_svm.fit(x, y)
score_SVM = cross_val_score(clf_svm, x, y, cv=5)
score_SVM

array([0.79511509, 0.79880513, 0.80038658, 0.80210896, 0.7943761 ])

In [12]:
print(score_LR.mean())
print(score_SVM.mean())

0.7986856649544823
0.7981583723444565